Babel==2.8.0
bcrypt==3.2.0
configobj==5.0.6
constantly==15.1.0
contourpy==1.0.6
cryptography==3.4.8
cycler==0.11.0
cymem==2.0.7
dbus-python==1.2.18
dnspython==2.2.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
Flask==2.2.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
Jinja2==3.0.3
joblib==1.2.0
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
langcodes==3.3.0
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==2.1.1
matplotlib==3.6.2
more-itertools==8.10.0
nltk==3.8
numpy==1.23.5
oauthlib==3.2.0
packaging==22.0
pathy==0.10.1
Pillow==9.3.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
PyJWT==2.3.0
pymongo==4.3.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
pytz==2022.1
PyYAML==5.4.1
regex==2022.10.31
spacy==3.4.4
spacy-legacy==3.0.10
spacy-loggers==1.0.4
spacytextblob==4.0.0
srsly==2.4.5
systemd-python==234
textblob==0.15.3
thinc==8.1.5
Werkzeug==2.2.2